

#basic-navbar-nav>.navbar-nav{
    text-align: center;
}

.card_styling > .card_box{
    overflow: hidden;
}

.card_styling{
    background-color: #51B7BC;
    overflow: hidden;
    border: none;
}

.card_styling img{
    transition: transform .5s;
}

.card_styling img:hover{
    cursor: pointer;
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}  

@media screen and (min-width: 920px){
    .Main-header{
        height: 13vh;
    }

    .column_styling{
        column-count: 4;
    }
}

@media screen and (max-width: 900px){
    .Main-header{
        height: 5vh;
    }

    .column_styling{
        column-count: 2;
    }
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

.fade-in-element {
  animation: fade-in 1.4s;
}

.hidden_div{
    opacity: 0;
}