

@media screen and (min-width: 800px){
    .navbarBtnStyling{
        margin: 0 auto;
    }
}


@media screen and (max-width: 900px){
    .navbar_styling{
        position: relative;
    }
    .navbarBtnStyling,#searchInput{
        margin: 8px auto;
    }
}