
@keyframes infinite-spinning {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.icon_rotate:hover{
    -webkit-animation-name: infinite-spinning; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-name: infinite-spinning;
    animation-duration: 2s;
}